<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>
    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body>
    <div class="min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    {% include "./partials/nav.html" %}
    <div class="p-5">
      {{ content | safe }}
    </div>
    {% include "./partials/footer.html" %}
    </div>
  </body>
</html>